@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
}

.card-motion {
  will-change: transform, opacity;
}

/* This is for dot blinking */

@layer utilities {
  .blink {
    animation: blink 3s infinite;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}
